[

 %% dberl
 {dberl,
  [
   %% Stores
   {stores,
    [
     {dberl_test,
      dberl_repo_couchbase,
      [
       {poolname, dberl_test_pool},
       {poolsize, 5},
       {host, "127.0.0.1:8091"},
       {username, ""},
       {password, ""},
       {bucket, "dberl_test"},
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, false}]}
      ]
     }
    ]
   }
  ]
 }

 %% END
].