[

 %% dberl
 {dberl,
  [
   %% Stores
   {stores,
    [
     {multilayer_events,
      dberl_repo_couchbase,
      [
       {poolname, multilayer_events_pool},
       {poolsize, {{db_poolsize}} },
       {host, "{{db_host}}" },
       {username, "{{db_username}}" },
       {password, "{{db_password}}" },
       {bucket, "{{db_events_bucket}}" },
       {transcoder, dberl_repo_couchbase_transcoder},
       {q_args, [{stale, false}]}
      ]
     }
    ]
   }
  ]
 },

 %% multilayer
 {multilayer,
  [
   %% HTTP Server Parameters
   {http_trans_opts, [{port, {{http_port}} }]},
   {http_listener_count, {{http_listener_count}} }
  ]
 },

 %% LAGER
 {lager,
  [
   {colored, true},
   {async_threshold, 200},
   {async_threshold_window, 5},
   {error_logger_hwm, 500},
   {handlers,
    [{lager_console_backend,
     [debug,
      {lager_default_formatter,
       [color,
        time,
        " [", severity, "]", " ", pid, " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ", message, "\e[0m\n"
       ]
      }
     ]
    },
     {lager_file_backend,
      [
       {file, "log/debug.log"},
       {level, debug},
       {size, 10485760},
       {date, "$D0"},
       {count, 5}
      ]
     },
     {lager_file_backend,
      [
       {file, "log/error.log"},
       {level, error},
       {size, 10485760},
       {date, "$D0"},
       {count, 5}
      ]
     },
     {lager_file_backend,
      [
       {file, "log/console.log"},
       {level, info},
       {size, 10485760},
       {date, "$D0"},
       {count, 5}
      ]
     }
    ]
   }
  ]
 }

].