%%
%% releases/{VSN}/sys.config
%%

%% HTTP Server Properties
{http_host,           ""}.
{http_port,           "8080"}.
{http_listener_count, "10"}.

%% DB config
{db_host,          "127.0.0.1:8091"}.
{db_username,      ""}.
{db_password,      ""}.
{db_poolsize,      "5"}.
{db_events_bucket, "multilayer_events"}.

%% VM args
{node,                "master@127.0.0.1"}.
